:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --secondary-accent-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --auxilliary-bg-color: #e5e5e5;

  --main-font: Roboto, san-serif;
  --secondary-font: Raleway, san-serif;
}

/* Палитра цветов */

/* основной цвет текста #212121; */

/* вторичный цвет текста #757575; */

/* основной акцент #2196F3; */

/* вторичный акцент #000000; */

/* основной цвет фона #FFFFFF; */

/* вторичный цвет фона #F5F4FA; */

/* цвет фона героя и футера #2F303A; */

/* цвет текста адреса в футете rgba(255, 255, 255, 0.6); */

/* дополнительный цвет фона в карточке #E5E5E5 */

/* цвет фона части карточки с проектами #EEEEEE; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: var(--main-font);
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header*/
.header .container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header-address {
  display: flex;
  align-items: center;
}

.header .header-address {
  margin-left: auto;
}

.header-address-list-item {
  margin-right: 50px;
}

/* Button */
.button.primary {
  display: flex;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  max-height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid transparent;
  border-color: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Logo group */
.logo {
  color: var(--accent-color);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.header .logo {
  margin-right: 93px;
}

.logo-text {
  color: var(--secondary-accent-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

.site-nav .logo-text:hover,
.site-nav .logo-text:focus {
  color: var(--accent-color);
}

/* Site nav */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav.list a,
.header-address .link {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.site-nav .current.link {
  color: var(--accent-color);
}

.header-address .link:hover,
.header-address .link:focus {
  color: var(--accent-color);
}

.header-address .link {
  color: var(--secondary-text-color);
}

/* Hero */
.hero .container {
  display: flex;
  padding: 200px 452px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  background-color: #2f303a;
}

.hero .hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 696px;
  margin-bottom: 23px;
}

/* Features */
.features .container {
  display: flex;
}

.features-list {
  display: flex;
  min-width: 270px;
}

.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.features.section {
  background-color: var(--primary-white-color);
}

.features-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-description {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);

  width: 270px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Apps development */

.apps-development.section {
  background-color: var(--primary-white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.apps-development-list {
  display: flex;
}

.apps-development-item:not(:last-child) {
  margin-right: 30px;
}

/* Our team */
.team.section {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team.section .section-title {
  background-color: var(--secondary-bg-color);
}

.employee-name {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.position {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 59px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-address-list {
  display: flex;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}

.footer-address a {
  text-decoration: none;
}

.footer-address-link {
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.mail-link,
.tel-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Projects */
.projects {
  background-color: var(--primary-white-color);
}

.projects-type {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects a {
  text-decoration: none;
}

.projects-description {
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters.container {
  display: flex;
}

.filters-list.list {
  display: flex;
  justify-content: center;
  margin-left: 280px;
  margin-bottom: 34px;
}

.filters-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects-types.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.projects-types.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  list-style: none;
}

.projects-types-item {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.projects-types-item h2 {
  padding-top: 20px;
  margin-bottom: 4px;
}

.projects-types-item p {
  padding-bottom: 20px;
}

.card {
  width: 370px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
